asgiref==3.9.2
async-timeout==5.0.1
attrs==25.3.0
diff-match-patch==20241021
Django==4.2.24
django-cors-headers==4.9.0
django-filter==25.1
django-import-export==4.3.10
django-prometheus==2.4.1
django-redis==5.4.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.28.0
geo==1.0.1
inflection==0.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
prometheus_client==0.23.1
psycopg2==2.9.10
psycopg2-binary==2.9.10
PyJWT==2.10.1
PyYAML==6.0.2
redis==5.0.1
referencing==0.36.2
rest-framework-simplejwt==0.0.2
rpds-py==0.27.1
sqlparse==0.5.3
tablib==3.8.0
typing_extensions==4.15.0
uritemplate==4.2.0
